<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo gasto</title>
    <%- include('estilo') %>
</head>
<body>
    <%- include('nav') %>
    <h2>Registra un nuevo gasto en tu historial financiero</h2>
    <p>Completa el siguiente formulario con los detalles del gasto que deseas añadir. Esto te ayudará a llevar un mejor control de tus finanzas personales.</p>

    <form action="/nuevoGasto" method="post" class="form">
        <label for="">Introduzca el concepto del gasto: </label>
        <input type="text" name="descripcion" id="descripcion-ingreso">
        <br>

        <label for="">Introduzca el monto del gasto: </label>
        <input type="number" name="monto" id="monto-ingreso">
        <br>
        <button type="submit">Enviar</button>
    </form>
    
</body>
</html>