<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo gasto</title>
</head>
<body>
    <h2>A continuación se presenta un formulario</h2>

    <form action="/nuevoGasto" method="post">
        <label for="">Introduzca el concepto del gasto: </label>
        <input type="text" name="descripcion" id="descripcion-ingreso">

        <label for="">Introduzca el monto del gasto: </label>
        <input type="number" name="monto" id="monto-ingreso">
        <button type="submit">Enviar</button>
    </form>
    
</body>
</html>