<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    
</head>
<body>

    <h1>Bienvenido</h1>

    <section id="saldo-total">
        <input type="number" name="saldo" id="num-saldo" disabled>
        <input type="number" name="gastos" id="num-gastos" disabled>
        <button>Añadir ingreso</button>
        <button>Añadir gasto</button>
    </section>
    <section>
        <label for="">Ingresos mensuales: </label>
        <input type="number" name="ingreso-mensual" id="ingreso-mensual" disabled>
        <button>Ver detalles ingresos</button>
    </section>
    <section>
        <label for="">Gastos mensuales: </label>
        <input type="number" name="gasto-mensual" id="gasto-mensual" disabled>
    </section>
    <section></section>
    
</body>
</html>