<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    
</head>
<body>

    <h1>Bienvenido</h1>

    <section id="saldo-total">
        <input type="number" name="saldo" id="num-saldo" value="<%= saldo %>" disabled>
        <button onclick="location.href='/ingresos/nuevo'">Añadir ingreso</button>
        <button onclick="location.href='/gastos/nuevo'">Añadir gasto</button>
    </section>
    <section>
        <button>Ver mis últimos movimientos</button>
</section>
    
</body>
</html>